@layout SecondaryLayout
@page "/login"

<div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-7">
          <div class="">
            <div class="Background__Image">
              <div>
                        <img src="Icon/logo.png"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="form-wrapper">
            <form class="form-inline bg-white custom-pad-form  form-style">
              <h1 class="mt-0">Hello, Sign In</h1>
              <div class="form-group mb-3">
                <label>Email</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter a email"
                />
              </div>
              <div class="form-group mb-3">
                <label>Password</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter a Password"
                />
              </div>
              <MudLink class="px-5 py-2 mt-2 buttoncss1" Href="/dashboard">Login</MudLink>
              @*<a  class="px-5 py-2 mt-2 buttoncss1">
                Login
              </a>*@

              <div class="or-divider"></div>
              <div class="login-with-btn">
                  <a class="" href="/dashboard"><img src="images/google.png" /> Google</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>