@page "/login"

<div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-7">
          <div class="">
            <div class="Background__Image">
              <div>
                        <img src="Icon/logo.png"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="form-wrapper">
            <form class="form-inline bg-white custom-pad-form  form-style">
              <h1 class="mt-0">Hello, Sign In</h1>
              <div class="form-group mb-3">
                <label>Email</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter a email"
                />
              </div>
              <div class="form-group mb-3">
                <label>Password</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter a Password"
                />
              </div>
              <button class="px-5 py-2 buttoncss1">
               Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>