@page "/"

<PageTitle>Index</PageTitle>

  <div class="main-wrapper landing-page">
        <div class="container-fluid header-wrapper">
          <div class="row px-3 h-100">
            <div class="col-6">
                <a class="navbar-brand" href="/">
                    <img src="./images/arist-logo-white.png" alt="" width="auto" height="70px" style="margin-top: 12px">
                </a>
            </div>
            <div class="col-6 justify-content-end d-flex align-items-center">
                <button to="/login" class="buttoncss1" >
                  Login
                </button>           
            </div>
          </div>
        </div>
        <div class="container-fluid landingpage-content justify-content-center align-items-center d-flex">
          <div class="row">
            <div class="col-md-12">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="transbox1">
                    <h1>Welcome to Arist</h1>
                    <p>
                      Dummy About us text? More like dummy thicc text, amirite?
                      Dummy text? More like dummy thicc text, amirite?Dummy
                      text? More like dummy thicc text, amirite?Dummy text? More
                      like dummy thicc text, amirite?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid footer-val1 py-3">
          <div class="row">
            <div class="col-md-12">
              <div class="">©2023. All Rights Reserved. Privacy Policy</div>
            </div>
          </div>
        </div>
      </div>


